/* text stuff */

* {
    font-family: "Galyon-Book", sans-serif;
}


@font-face {
    font-family: Fall In Love;
    src        : url(/assets/fonts/fall-in-love.ttf);
}

@font-face {
    font-family: Galyon-Book;
    src        : url(/assets/fonts/Galyon-Book.otf);
}

@font-face {
    font-family: Galyon-Bold;
    src        : url(/assets/fonts/Galyon-Bold.otf);
}

.shadow-text {
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, .25));
}

/* cosas */

.main-container {
    display        : flex;
    justify-content: center;
    min-height     : 100vh;
}

.logo {
    padding-bottom: 1em;
    max-width     : 70%;
}

.fpf-container {
    padding-bottom: 1em;
}

.main-limitwidth {
    max-width: 800px;
}

.contenido-anchito {
    max-width: 700px
}

.cursiva {
    font-family: "Fall In Love", sans-serif;
}

.galyon-bold {
    font-family: "Galyon-Bold", sans-serif;
}

.texto-poema {
    font-family: "Galyon-Bold", sans-serif;
    font-size  : larger;
    color      : var(--poem-color);
}

.texto-numero-restante {
    font-family: "Galyon-Bold", sans-serif;
    font-size  : 4em;
    color      : var(--poem-color);
}

.azul-color {
    color      : var(--poem-color);
}

.restante-main {
    display: inline-block;
}

.content {
    padding     : 1em;
    margin-left : auto;
    margin-right: auto;
}

.glassmorphism {
    background             : rgba(255, 255, 255, 0);
    box-shadow             : 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter        : blur(10.8px);
    -webkit-backdrop-filter: blur(10.8px);
}

.seccion {
    background: rgb(255, 255, 255);
}

.content .seccion p {
    margin: 0px;
}

.fill-screen {
    height: 100svh;
}

.restante-separador {
    padding-left : 0.5em;
    padding-right: 0.5em;

}

/* bruh */

:root {
    --color-bg1  : rgb(66, 108, 236);
    --color-bg2  : rgb(167, 201, 234);
    --color1     : 157, 187, 221;
    --color2     : 171, 205, 232;
    --poem-color : #111565;
    --circle-size: 200%;
    --blending   : hard-light;
}

svg {
    display: none;
}

@keyframes moveLeftRightUpperBlob {
    0% {
        transform: translateX(-20vw) translateY(-20vh);
    }

    50% {
        transform: translateX(80vw) translateY(-20vh);
    }

    100% {
        transform: translateX(-20vw) translateY(-20vh);
    }
}

@keyframes moveLeftRightLowerBlob {
    0% {
        transform: translateX(80vw) translateY(50vh);
    }

    50% {
        transform: translateX(-20vw) translateY(50vh);
    }

    100% {
        transform: translateX(80vw) translateY(50vh);
    }
}

@media (min-width: 0px) {
    .texto-numero-restante {
        font-size: 2em;
    }
}

@media (min-width: 576px) {
    .texto-numero-restante {
        font-size: 3em;
    }
}

@media (min-width: 768px) {
    .texto-numero-restante {
        font-size: 4em;
    }
}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}

@media (min-width: 1400px) {}

.gradient-bg {
    width     : 100vw;
    height    : 100vh;
    position  : fixed;
    display   : block;
    overflow  : hidden;
    background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2));
    top       : 0;
    left      : 0;

    .gradients-container {
        filter: url(#goo) blur(40px);
        width : 100%;
        height: 100%;
    }

    .g1 {
        position      : absolute;
        mix-blend-mode: var(--blending);

        background: radial-gradient(circle at center, rgba(var(--color1), 1) 0, transparent 80%);

        width : calc(var(--circle-size));
        height: calc(var(--circle-size));

        animation: moveLeftRightUpperBlob 28s ease infinite;
    }

    .g2 {
        position      : absolute;
        mix-blend-mode: var(--blending);

        background: radial-gradient(circle at center, rgba(var(--color2), 0.8) 0, transparent 80%);

        width : var(--circle-size);
        height: var(--circle-size);

        animation       : moveLeftRightLowerBlob 20s ease infinite;
        transform-origin: bottom right;
    }

}